#switcher {
	width: 100%;
	background: #252629;
	height: 55px;
	font-size: 14px;
	color: #767676;
	z-index: 51;
}

#switcher li {
	display: block;
	float: left;
}

#logo a {
	border-right: 1px solid #333;
	background-position: 8px -121px;
	display: block;
	height: 55px;
	text-indent: -9999px;
	width: 120px;
}

#theme_select {
	background: url(dropdown.png) no-repeat;
	width: 200px;
	display: block;
	padding: 9px 8px;
	color: #333;
	font-size: 14px;	
}

.sprite{
	background-image: url(switcher-sprite@2x.png);
	background-size: 500px 200px;
	background-repeat: no-repeat;
}



/*=================================*/
/* RIGHT SIDE
/*=================================*/
#switcher #right-side {
	float: right;
}

#right-side a.purchase {
	background: #2A90FF;
	color: #FFF;
	display: block;
	font-size: 15px;
	float: left;
	line-height: 55px;
	padding: 0 30px;
}

#right-side a.purchase:hover{
	color: #FFF;
	background: #1A87FF;
}

#right-side a.remove_frame{
	background-position: -122px -22px;
	display: block;
	float: left;
	height: 55px;
	text-indent: -9999px; 
	width: 55px;
}

#right-side a.remove_frame:hover {
	background-position: -122px -70px;
}



/*=================================*/
/* Dropdown Select	
/*=================================*/
#theme-dropdown-select {
	background-position: 172px -22px;
	color: #6A6E72;
	border-right: 1px solid #333;
	display: block;
	line-height: 55px;
	padding: 0 20px;
	width: 250px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

#theme-dropdown-select:hover,
#theme-dropdown-select.active {
	background-position: 172px -72px;
	color: #FFF;
	position: relative;
	z-index: 52;
}

#theme-dropdown-select span { 
	display: none;
}

/*=================================*/
/* Dropdown
/*=================================*/
#theme-dropdown {
	background: #252629;
	border-radius: 0 0 5px 5px;
	display: none;
	margin: 0;
	max-height: 500px;
	overflow: auto;
	padding: 0 0 10px 0;
	position: absolute;
	width: 250px;
	z-index: 51;
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
			box-sizing: border-box;
}

#theme-dropdown li {
	display: block;
	float: none;
}

#theme-dropdown li a {
	color: #6A6E72;
	display: block;
	line-height: 35px;
	padding: 0 20px;	
}

#theme-dropdown li a:hover {
	color: #FFF;
	background-color: #2D2F34;
}

#theme-dropdown li a span{
	background: #2D2F34;
	border-radius: 20px;
	float: right;
	font-size: 12px;
	line-height: 22px;
	margin: 6px 0 0 0;
	padding: 0px 8px;
	text-transform: capitalize;
}
	
#theme-dropdown li a:hover span,
#theme-dropdown li a.active span {
	background: #2A90FF;
	color: #FFF;
}


/*=================================*/
/* RESIZE
/*=================================*/
.resize-icon {
	display: block;
	height: 55px;
	width: 55px;
	text-indent:-9999px;
	border-left: 1px solid #333;
	border-right: 1px solid #333;
	display: inline-block;
	margin-left: -1px;
}

.resize-icon.active {
	background-color: #2D2F34;
} 

#resize li {
	border-left: 1px solid #333;
	border-right: 1px solid #333;
	display: inline-block;
	margin-left: -1px;
}

.resize-icon.iphone { background-position: -224px -23px; }
.resize-icon.iphone:hover { background-position: -224px -73px; }
.resize-icon.iphone.active  { background-position: -224px -123px; }

.resize-icon.ipad { background-position: -324px -23px; }
.resize-icon.ipad:hover { background-position: -324px -73px; }
.resize-icon.ipad.active { background-position: -324px -123px; }

.resize-icon.desktop { background-position: -424px -23px; }
.resize-icon.desktop:hover { background-position: -424px -73px; }
.resize-icon.desktop.active { background-position: -424px -123px; }



/*=================================*/
/* IFRAME
/*=================================*/

#iframe {
	margin: 40px auto;
	height: 100%;
}
.iframe-wrap {
	background: #111;
	display:block; 
	margin-left: auto ;
  	margin-right: auto ;
	text-align:center;
}	
#site{
	display:none;
}
